*__pycache__
*.ipynb_checkpoints/
data/
training/
experiments/Experiment0/saved_model/variables/
experiments/Experiment1/saved_model/variables/
experiments/Experiment0/checkpoint/
experiments/Experiment1/checkpoint/

